<div class="container">
  <div class="col">
    <h1>User info</h1>
        <%= attachment_image_tag l_user, :profile_image, format: 'png', fallback: "no_image.png", size: "100x100" %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <td><%= l_user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= l_user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to edit_user_path(l_user) do %>
        <button class="btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></button>
      <% end %>
  </div>
</div>

